body {
    background-image: url(../images/qbkls.png);
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    font-size: 24px;
    color: #4aaaa5;
}

header {
    background-color: #fff;
    width: 100%;
    height: 70px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    border-top: 8px solid #4aaaa5;
    background: grey;
    text-align: center;
}

#footer-container {
    margin: auto;
    color: #fff;
}

.title {
	/* position: static; */
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 20px;
}

#title-name {
    background: #4aaaa5;
    float: left;
    padding: 20px 20px 20px 20px;
    margin: 0px;
}

#header-container {
	position: relative;
	width: 960px;
    height: 70px;
	margin-left: auto;
	margin-right: auto;
    background-color: #fff;
    border: 100px;
    border-color: #cccccc;
}

#links-container-right {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    position: relative;
    right: 20px;
	top: 25px;
	float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.about-me {
    position: relative;
    top: 50px;
    width: 920px;
    height: auto;
    margin: auto;
    padding: 20px;
    background: #fff;
}

.main-content {
    position: relative;
    top: 50px;
    width: 920px;
    height: auto;
    margin: auto;
    padding: 20px;
    background: #fff;   
}

#main-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#large-input-field {
    text-justify: left;
    text-align: top;
    width: 50em;
    height: 5em;
}

.container {
    position: fixed;
    /* display: inline; */
    float: left;
    margin: 10px 10px 10px 10px;
}





